#main{
    background-color: rgb(224, 218, 218);
    border-radius: 10px;
    /*display: flex;*/
    margin:1% 1% 1% 1%;
}
#title{
    text-align:center;
    padding-top: 2%;
}
#tribute-info{
    margin: 0% 20% 20% 20%;
    
}
#img-div{
    background-color: #ffffff;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
#img-caption{
    padding: 5px 0px 20px 0px;
}
li{
    padding-top: 2%;
}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }